In [2]:
from flask import Flask, request, render_template
import numpy as np
import datetime
from final_port_opt import opt_data
from dateutil.relativedelta import relativedelta
from pred import get_test_graph, pred_next
import glob
import tensorflow as tf

In [3]:
ticker=['GOOGL','AMZN']

print("Loading models...")
models = {}
for t in ticker:
    p = glob.glob(f'*{t}.h5')[0]
    print(f"Loading..{p}")
    models[t] = tf.keras.models.load_model(p)

o = []
for tic in ticker:

    predicted_stock_price, real_val, sc = get_test_graph(
        tic, models[tic])
    o.append(pred_next(models[tic], sc))

Loading models...
Loading..model_GOOGL.h5
Loading..model_AMZN.h5

In [4]:
o[1]

                      0
2020-06-17  1482.047852
2020-06-18  1482.707886
2020-06-19  1483.625977
2020-06-20  1485.018799
2020-06-21  1487.001343
2020-06-22  1489.593384

In [43]:
pred_list=[]
for pred_df in o:
    a=pred_df.values.reshape((-1))
    i= list(pred_df.index)
    i=[x.strftime("%Y-%m-%d") for x in i]
    pred_list.append([d for d in zip(i,a)])

In [44]:
pred_list

[[('2020-06-17', 1389.5449),
  ('2020-06-18', 1389.7056),
  ('2020-06-19', 1389.4835),
  ('2020-06-20', 1388.8416),
  ('2020-06-21', 1387.7874),
  ('2020-06-22', 1386.3644)],
 [('2020-06-17', 1482.0479),
  ('2020-06-18', 1482.7079),
  ('2020-06-19', 1483.626),
  ('2020-06-20', 1485.0188),
  ('2020-06-21', 1487.0013),
  ('2020-06-22', 1489.5934)]]

In [35]:
i

['2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22']

In [41]:
for d in zip(i,a):
    print(d)

('2020-06-17', 1482.0479)
('2020-06-18', 1482.7079)
('2020-06-19', 1483.626)
('2020-06-20', 1485.0188)
('2020-06-21', 1487.0013)
('2020-06-22', 1489.5934)

In [42]:
zip(i,a)